[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-telegram-bot = "*"

[dev-packages]
pytest = "*"
requests-mock = "*"
deepdiff = "*"
pytest-cov = "*"
black = "*"

[requires]
python_version = "3.8"

[scripts]
test = "pytest"
